@use './shared/style';

@mixin containerRoot {
  @at-root {
    body {
      margin: 0;
      padding: 0;
    }
  }
}

.components-container-render {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  @include containerRoot;
}
